
# Created by https://www.gitignore.io/api/emacs
# Edit at https://www.gitignore.io/?templates=emacs

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
*/eshell/history
*/eshell/lastdir

# elpa packages
*/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data


# End of https://www.gitignore.io/api/emacs
emacs.d/config.el

*.errors
*.o
emacs.d/quelpa/

*.local
emacs.d/var
*.sql
projects
*.jar
*jar
emacs.d/emojis
.DS_Store

nov-places

zshenv.local

emacs.d/elfeed/index
emacs.d/forge-database*
emacs.d/tree-sitter/
emacs.d/codeium/
emacs.d/*.log
emacs.d/code-review-db-file.sqlite
emacs.d/smudge/
emacs.d/devdocs/
emacs.d/undo-fu-session/

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

easysession
