custom.el
projectile-bookmarks.eld
projectile.cache
elpy/
forge-database.sqlite
transient/
.cache/
.last-package-update-day
.lsp-session-v1
.mc-lists.el
amx-items
bookmarks
recentf
url/
.dap-breakpoints
eln-cache
diary
history
places
*.db
straight/
*.swp
multisession
